body {
  background-color: #393939;
  color: #dfdfdf;
  margin: 2em;
}

.codeblock {
  background-color: #4b4b4b;
  border-radius: 0.5em;
  line-height: 0.5em;
  margin: 1em;
  padding: 1em;
  width: 50em;
}

.property {
  color: #f0544f;
  padding-left: 1em;
}

.value {
  color: #8da1b9;
}

.url {
  color: #f79d5c;
}
